<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHECK OUT</title>
</head>
<body>
    <div class="wrapper">
        <h1>YOUR ORDER</h1>
        <div class="wrapper">
            <div class="cart-wrapper">
              <div class="cart-container">
                <div class="cart-item">
                  <div class="item-name">
                    <img class="item-img" src="images/Burrito.avif" alt="Burrito" />
                    <span>Burrito</span>
                  </div>
                  <div class="item-price">
                    <span>$20</span>
                  </div>
                  <div class="item-amount">
                    <span>Amount:</span>
                    <input type="number" value="1" min="1" max="100" name="burrito" />
                  </div>
                </div>
                <div class="cart-item">
                  <div class="item-name">
                    <img
                      class="item-img"
                      src="images/ChickenSalad.avif"
                      alt="Chicken-Salad"
                    />
                    <span>Chicken Salad</span>
                  </div>
                  <div class="item-price">
                    <span>$50</span>
                  </div>
                  <div class="item-amount">
                    <span>Amount:</span>
                    <input readonly type="number" value="1" min="1" max="100" name="chickensalad" />
                  </div>
                </div>
                <div class="cart-item">
                  <div class="item-name">
                    <img
                      class="item-img"
                      src="images/ItalianPasta.avif"
                      alt="Italian-Pasta"
                    />
                    <span>Italian Pasta</span>
                  </div>
                  <div class="item-price">
                    <span>$40</span>
                  </div>
                  <div class="item-amount">
                    <span>Amount:</span>
                    <input readonly type="number" value="1" min="1" max="100" name="italianpasta" />
                  </div>
                </div>
                <div class="cart-item">
                  <div class="item-name">
                    <img
                      class="item-img"
                      src="images/PotatoMeat.avif"
                      alt="Potato-Meat"
                    />
                    <span>Potato Meat</span>
                  </div>
                  <div class="item-price">
                    <span>$65</span>
                  </div>
                  <div class="item-amount">
                    <span>Amount:</span>
                    <input readonly type="number" value="1" min="1" max="100" name="potatomeat"/>
                  </div>
                </div>
                <div class="cart-item">
                  <div class="item-name">
                    <img class="item-img" src="images/Steak.avif" alt="Steak" />
                    <span>Steak</span>
                  </div>
                  <div class="item-price">
                    <span>$80</span>
                  </div>
                  <div class="item-amount">
                    <span>Amount:</span>
                    <input readonly type="number" value="1" min="1" max="100" name="steak" />
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <h1>anbwdbkwa</h1>
    <p><%=burrito%></p>
    <p><%=chickensalad%></p>
    <p><%=italianpasta%></p>
    <p><%=potatomeat%></p>
    <p><%=steak%></p>
</body>
</html>